html,
body {
    padding: 0;
    margin: 0;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: white;
}

.anim-fade {
    &-enter {
        opacity: 0;
    }
    &-enter-active {
        opacity: 1;
        transition: opacity 300ms;
    }
    &-exit {
        opacity: 1;
    }
    &-exit-active {
        opacity: 0;
        transition: opacity 300ms;
    }
}
