.pw-lock {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.pw-inp {
    outline: none;
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 6px 8px;
    border-radius: 8px;
    font-size: 15px;
    &:focus {
        border-color: #888;
    }
}

.pw-btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 8px;
    background-color: #eee;
    color: black;
    margin-top: 1rem;
    font-size: 16px;
}

.pw-err {
    margin-top: 2rem;
    color: red;
}
