.intro {
    padding: 2rem;
    width: 100%;
    font-size: 32px;
    font-family: 'Pacifico';
    white-space: pre-line;
    display: flex;
    flex-direction: column;
    background-color: #141021;

    img {
        width: 420px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        max-width: calc(100vw - 4rem);
    }
}

#effect {
    width: 100%;
    height: 100%;
}
